{% extends 'layout.html' %}


{% block content %}
<div class="jumbotron" 
style="background-image: url(/static/image/background/6-IT.jpg);">

    <div class="container" style="padding-top: 100px;">

        <!-- ana destekçilerimiz -->
        <div class="row" style="padding-bottom:5%;">
            <p class=" display-4 mx-auto">Ana Destekçimiz</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/loopgames.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Loop Games</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- altın destekçilerimiz -->
        <div class="row" style="padding-top:5%; padding-bottom:5%;">
            <p class=" display-4 mx-auto">Altın Destekçilerimiz</p>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card">
                    <div class="image">
                        <img src="/static/image/logo/kukamet.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center"> Kukamet </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card">
                    <div class="image">
                        <img src="/static/image/logo/eurotec.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center"> Eurotec </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/gordes.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Gordes Belediyesi</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/kecioren.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center"> Keçiören Belediyesi </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


        <!-- gümüş destekçilerimiz -->
        <div class="row" style="padding-top:5%; padding-bottom:5%;">
            <p class=" display-4 mx-auto">Gümüş Destekçilerimiz</p>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/ante.jpg" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Ante Grup Bilişim</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/bks.jpg" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">BKS</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/asisguard.JPG" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Asisguard</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="card" >
                    <div class="image ">
                        <img src="/static/image/logo/robo90.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3  class="text-center">ROBO90</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- bronz destekçilerimiz -->
        <div class="row" style="padding-top:5%; padding-bottom:5%;">
            <p class=" display-4 mx-auto">Bronz Destekçilerimiz</p>
        </div>

        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card">
                    <div class="image ">
                        <img src="/static/image/logo/taleworlds.jpg" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3 class="text-center">Talewords</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card" >
                    <div class="image ">
                        <img src="/static/image/logo/rotamaden.jpg" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3  class="text-center">Rota Maden</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card" >
                    <div class="image ">
                        <img src="/static/image/logo/ozdisan.png" style="width:100%; padding-top:5%; padding-bottom:5%; padding-right:5%; padding-left:5%;" >  
                    </div>
                    <div class="card-inner">
                        <div class="header" style="padding-bottom: 5%;">
                            <h3  class="text-center">Özdisan</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>
{% endblock %}