{% extends "layout.html" %}


{% block content %}


    <div class="container" style="padding-top: 100px; padding-bottom:10%;">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="about-content-text mb-80">
                    <p class="text-white display-4 font-italic ">Aramıza Katıl </p>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 200px; background-color: #7c4dff; height: 2px"/>
                    <p class="text-white lead my-3">    
                        Üniversite hayatın devam ederken mühendislik hayatına hazırlanmak, elde ettiğin teorik bilgileri 
                        pratiğe dönüştürmek, ulusal ve uluslar arası yarışmalarda bizi ve ülkemizi temsil etmek
                        için tek yapman gereken Elektrik Elektronik Mühendisliği bölümünde bulunan labımızı ya da standlarımızı
                        ziyaret etmek.
                    </p>
                </div>
                
            </div>
        </div>
    </div>


{% endblock %}